<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="georgikoemdzhiev.sensorlistener">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".SensorService" />

        <activity
            android:configChanges="orientation|screenSize"
            android:name=".DescriptiveAnalisysActivity"
            android:label="@string/title_activity_descriptive_analisys"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>